/* Styles go here */
body{
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: cover;
}

.page2 {
    background-image: url('../components/imgs/bck.jpg');
    
}
#main-wrapper{
	
	background-color: rgba(0,0,0,0.8);
	border: 3px solid #333333;
	width: 600px;
	margin-top: 50px;
	margin-left: 250px;
	color: #d0e4eb
}
.header {
    font-family: "Times New Roman", Times, serif;
    padding: 20px;
    text-align: center;
    background-color: rgba(0,0,0,0.8);
	border: 3px solid #333333;
    color: white;
    font-size: 30px;
  }
.inner_container{
	width:450px;
    margin:0 auto;
}
.back_btn{
	margin-top:10px;
	color: white;
	margin-bottom:15px;
    padding: 10px;
    background-color: transparent;
	border-color: tomato;
}
.imgcontainer {
    text-align: center;
  
}
.sign_up_btn {
	background-color: #002f4e;
    color: white;
	padding:10px;
	margin-top:20px;
	margin-bottom:20px;
    width: 100%;
	font-size:16px;
	font-weight: bold;
}
img.avatar {
    width: 30%;
    border-radius: 50%;
}
input{
    width: 430px;
	margin: 0 auto;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
label {
    margin-top: 10px;
}